html, body, #app {
    height: auto;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.btn-primary{
    background-color: #006432;
    border-color: #006432
}

.btn-primary:hover{
    background-color: #0fa257 !important;
    border-color: #0fa257 !important;
}

.navbar{
    background-color: #c1272d !important;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.dropdown-item:hover{
    color:#0d7540;
}

.dropdown-menu{
    background-color: #333;
}

.content{
    margin-top:87px;
}

.home .cta{
    height: 100vh;
    background-image: url('ifrane.jpg');
    background-size: cover;
    position: relative;
}

.home .overlay{
    height: 100vh;
    position: absolute;
    background-color: #000;
    opacity: .5;
    width: 100%;
}

.home .data{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .data h1{
    font-size: 4.25rem;
    line-height: 1.2;
}
.home .data h2{
    font-size: 1.5rem;
}

.home .data .actions{
    text-align: center;
}

.home .data .btn{
    margin: 0 10px;
    border-radius: 100px;
    padding: 1rem 3rem;
    margin: .4rem .8rem !important;
    background-color: #006432;
}
.home .data .btn:hover{
    background-color: #0fa257;
}

.home .countdown{
    padding: 90px;
}

.countdown-cont {
    max-width: 700px;
    margin: 0 auto;
}

.number-wrap{
    color: #565656;
    border-color: rgba(255, 255, 255, 0.15);
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 5px 10px 13px 10px;
    margin: 0;
    min-width: 118px;
    border-radius: 2px;
    max-width: 100%;
}

.period {
    display: block;
    padding-top: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dot {
    position: absolute;
    top: -10px;
    right: -1em;
    width: 1em;
    display: block;
    height: 83%;
    overflow: hidden;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 89.65px;
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 0;
    color: #28262b;
}

.number {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    text-transform: none;
    letter-spacing: -2px;
    word-spacing: 0;
    line-height: 1.3;
    color: #28262b;
}


.footer{
    background-color: #2e2e2e;
    padding: 90px 0;
}


section.title{
    background-color: #006331;
    color:#fff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


section.body{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

section.body h3{
    padding: 20px 0;
    margin: 0;
}